   #centro {
       background-color: #FFF;
       width: 300px;
       height: 300px;
       position: absolute;
       top: 50%;
       left: 50%;
       margin: -150px 0 0 -150px;
      }
  #centro {
   background-color: #E5F6FF;
   width: 300px;
   height: 300px;
   position: absolute;
   top: 50%;
   left: 50%;
   margin: -150px 0 0 -150px;
  }


  /*div menubar css*/
  #menubar {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    height: auto;
    }

  ul {
    text-align: left;
    display: inline;
    margin: 0;
  /*  padding: 15px 4px 17px 0; */
    list-style: none;
    -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
    }

  ul li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -5px;
    position: relative;
    padding: 15px 20px;
    background: #FFFFFF;
   color: rgb(18,154,195);
   cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }

  ul li:hover {
   background: #f7f7f7f7;
   color: rgb(18,154,195);
  }




  body {
   background-color: white;
  }

input {
  border-color: rgb(18,154,195);
  border-color: linear-gradient(90deg, rgba(18,154,195,1) 0%, rgba(4,78,161,1) 100%);
  border-style:double ;
  border-radius: 10px;
  border-width: 1px;
  text-align: center;
}

.normalbutton {
  border-radius: 10px;
  color: white;
  height: 30px;
  border: none;
  background: rgb(18,154,195);
  background: linear-gradient(90deg, rgba(18,154,195,1) 0%, rgba(4,78,161,1) 100%);
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 600;
  margin: 10px
}
.powby {
  font-family: sans-serif;
  color: rgb(18,154,195);
  float: right;
}
.largebutton {
  border-radius: 10px;
  color: white;
  height: 50px;
  border: none;
  background: rgb(18,154,195);
  background: linear-gradient(90deg, rgba(18,154,195,1) 0%, rgba(4,78,161,1) 100%);
}

select {
 border-color: #659517;
  border-style: double;
  border-radius: 6px;
  color: black;
  background-color: white;
}

code {
  background-color: #f7f7f7f7;
  border-radius: 5px;
}
